cachyos
Code
configstore
dconf
gh
go
pulse
session
shelly
uv
yay
zen
oko
micro
gtk-3.0
BraveSoftware
autostart
procps
kwalletrc
QtProject.conf
zed 
trashrc 
obs-studio
nextjs-nodejs
neonctl 
kactivitymanagerdrc
create-next-app-nodejs 
clerk 
Post_Void 
Kitware
cachyos-hello.json 
gopls
lazygit
opencode
sniffnet
t3code
CodeTantra SEA (undefined)/
CodeTantra SEA/
Trolltech.conf
neo-browser/
kdeconnect/
systemd/
menus
monero-project/
xpost/
ghostty/
eas-cli-nodejs/
filetypesrc 
transmission/
kservicemenurc
ibus/
Google/
google-chrome-for-testing/
connections.db
vv/
ibus/bus/
